* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    font-size: 12px;
    padding: 5px;

}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bg-primary {
    background-color: #01d28e!important;
}

.form-control {
    background-color: white;
    color:rgba(0, 0, 0, 0.1);
    font-size: 14px;
    border-radius: 2px;
    box-shadow: none!important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.contactForm .form-control {
    border: none;
    border-bottom: 1px solid black;
    padding: 0;
}

.form-control:focus .form-control:active {
    border-color: #01d28e!important;
}

.btn-primary {
    background-color: #01d28e!important;
    border-color: #01d28e!important;
    color:white;
}

.btn-primary:hover {
    background-color: #28a745!important;
    
}

.bi {
    font-size: 16px;
    padding: 0;
}

.col-12 {
    padding: 20px 0 20px 0!important;
}


